<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sale.supermarket.dao.MemberRecordDao">
    <insert id="addRecord">
        insert into tb_member_record (id,`member_id`,user_id,order_number,`sum`,balance,received_points,checkout_time)
        values (
        #{id,jdbcType=INTEGER},
        #{memberId,jdbcType=INTEGER},
        #{userId,jdbcType=INTEGER},
        #{orderNumber,jdbcType=INTEGER},
        #{sum,jdbcType=DOUBLE},
        #{balance,jdbcType=DOUBLE},
        #{receivedPoints,jdbcType=INTEGER},
        #{checkoutTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getRecord" resultType="com.sale.supermarket.pojo.Member">
        SELECT
        *
        FROM
        `ttb_member_record`
        WHERE
        <if test="id != 0">
            `id` = #{id}
        </if>
    </select>
    <select id="getMembers" resultType="com.sale.supermarket.pojo.Member">
        SELECT
        *
        FROM
        `tb_member_record`
        WHERE
        <if test="id != 0">
            `id` = #{id}
        </if>
    </select>
    <update id="updateRecord">
        update `tb_member_record`
        <trim prefix="set" suffixOverrides=",">
            <if test=" name !=null and name !='' ">`name` = #{name},</if>
            <if test=" phone !=null and phone !='' ">`phone` = #{phone},</if>
            <if test=" points !=null and points !='' ">points = #{points},</if>
            <if test=" total !=null and total !='' ">total = #{total},</if>
            <if test=" registerTime !=null and registerTime !='' ">register_time = #{registerTime},</if>
            <if test=" updateTime !=null and updateTime !='' ">update_time = #{updateTime}</if>
        </trim>
    </update>
    <delete id="deleteRecord">
        delete
        from tb_member_record
        where
        <if test="name !=null and phone != ''">
            `name` = #{name} and phone={phone}
        </if>
    </delete>

</mapper>